{% extends "base.html" %}

{% block title %} Registro {% endblock %}

{% block content %}
<div class="container p-5 my-5 bg-secondary bg-opacity-25 rounded border border-dark border-opacity-50 text-center" style="max-width: 600px;">
    
    <h1 class="display-4 fw-bold mb-5">Crea cuenta</h1>

    <form action="{{ url_for('creacuenta') }}" method="POST" class="text-start">
        
        <div class="mb-4">
            <label class="form-label display-6 fs-5 fw-semibold">Nombre Completo</label>
            <input type="text" name="nombre_completo" class="form-control rounded display-6 fs-6" required>
        </div>
        
        <div class="mb-4">
            <label class="form-label display-6 fs-5 fw-semibold">Nombre de Usuario</label>
            <input type="text" name="user" class="form-control rounded display-6 fs-6" required>
        </div>

        <div class="mb-4">
            <label class="form-label display-6 fs-5 fw-semibold">Correo Electrónico</label>
            <input type="email" name="email" class="form-control rounded display-6 fs-6" required>
        </div>

        <div class="mb-5">
            <label class="form-label display-6 fs-5 fw-semibold">Contraseña</label>
            <input type="password" name="secreto" class="form-control rounded display-6 fs-6" minlength="8" required>
            <div class="form-text text-dark opacity-75 display-6 fs-6">La contraseña necesita al menos 8 caracteres.</div>
        </div>
        
        <button type="submit" class="btn btn-dark w-100 p-3 rounded fw-bold display-6 fs-5">Crear mi cuenta</button>
    </form>

    <div class="mt-4">
        <a href="{{ url_for('log') }}" class="text-dark opacity-75 text-decoration-none display-6 fs-6">Ya tengo cuenta</a>
    </div>

</div>
{% endblock %}