{% extends "base.html" %}

{% block title %} Nueva Contraseña {% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <h2 class="display-6 fw-bold mb-2 text-center">Nueva contraseña</h2>
            <p class="text-center text-muted small mb-4 opacity-75">Escribe la nueva contraseña que usarás para acceder a tu cuenta.</p>

            <form action="{{ url_for('restablecer_con_token', token=token) }}" method="POST">
                <div class="mb-4">
                    <label class="form-label small text-muted opacity-75">Nueva Contraseña</label>
                    <input type="password" name="nuevo_secreto" class="form-control rounded-pill border-light-subtle shadow-none" required>
                </div>
                
                <button type="submit" class="btn btn-outline-dark w-100 rounded-pill">Actualizar contraseña</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}