{% extends "base.html" %}

{% block title %} login {% endblock %}

{% block content %}
<div class="container py-5">
    
    <img src="/static/icon.jpg" 
        alt="Logo" 
        class="rounded-circle float-start border border-1"
        width="120" 
        height="120">

    <div class="text-end">
        <h1 class="display-2 fw-bold text-dark mb-1">RESCATA UNA VIDA HOY</h1>
        <p class="text-dark opacity-75 mb-5">Bienvenido a nuestro refugio de gatitos, nos alegra verte.</p>
        
        <div class="d-inline-block text-end" style="max-width: 500px;">
            
            <div class="mb-4">
                <a href="/visitante" class="btn btn-dark btn-lg w-100 p-3 rounded-pill fw-bold">
                    Entrar como Visitante / Adoptar
                </a>
            </div>

            <div class="d-flex align-items-center my-4 justify-content-end">
                <hr class="w-25 text-dark opacity-25 my-0">
                <span class="mx-3 text-dark opacity-50 small">Área de Personal</span>
                <hr class="w-25 text-dark opacity-25 my-0">
            </div>

            <div class="d-flex gap-3 justify-content-end align-items-center">
                <a href="/crea" class="btn btn-outline-secondary btn-md px-4 rounded-pill">
                    Registro Trabajador
                </a>

                <a href="/log" class="btn btn-outline-dark btn-md px-4 rounded-pill fw-semibold">
                    Iniciar Sesión
                </a>
            </div>

        </div>
    </div>

</div>
{% endblock %}