{% extends "base.html" %}

{% block title %} Recuperar Cuenta {% endblock %}

{% block content %}
<div class="container p-5 my-5 bg-secondary bg-opacity-25 rounded border border-dark border-opacity-50 text-center" style="max-width: 600px;">
    
    <h1 class="display-4 fw-bold mb-3">Recuperar cuenta</h1>
    
    <p class="text-dark opacity-75 display-6 fs-6 mb-5">Introduce tu correo y te enviaremos un enlace seguro para cambiar tu contraseña.</p>

    <form action="{{ url_for('recuperar') }}" method="POST" class="text-start">
        
        <div class="mb-5">
            <label class="form-label display-6 fs-5 fw-semibold">Correo Electrónico</label>
            <input type="email" name="email" class="form-control rounded display-6 fs-6" required>
        </div>
        
        <button type="submit" class="btn btn-dark w-100 p-3 rounded fw-bold display-6 fs-5">Enviar enlace de recuperación</button>
    </form>

    <div class="mt-4">
        <a href="{{ url_for('log') }}" class="text-dark opacity-75 text-decoration-none display-6 fs-6">Volver al inicio de sesión</a>
    </div>

</div>
{% endblock %}